@model FlightManager.Data.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiftOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiftOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfPlane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfPlane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniqueNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniqueNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacityPassengers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacityPassengers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacityBusinessClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacityBusinessClass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
