@model IEnumerable<FlightManager.Data.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PilotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiftOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfPlane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacityPassengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacityBusinessClass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PilotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiftOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfPlane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacityPassengers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacityBusinessClass)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
